body{
    font-family: 'Poppins', sans-serif;
}


h1{
    font:50px;
}

.program-highlight{
    color: rgb(255, 170, 13);
}

.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left:2%;

}

.half-width img{
    width:100%;
}